[submodule "the_theoretical_minimum"]
	path = the_theoretical_minimum
	url = git@github.com:lachlanchen/the_theoretical_minimum.git
[submodule "Video2Book"]
	path = Video2Book
	url = git@github.com:lachlanchen/Video2Book.git
